# .NET
**/bin/
**/obj/
**/*.user
**/*.suo

# Node.js (frontend)
node_modules/
.next/
out/

# Git
.git/
.gitignore
.gitattributes

# IDEs
.vs/
.vscode/
.idea/

# Documentación
*.md
LICENSE

# Otros
**/.DS_Store
**/Thumbs.db
**/*.log
